.comment_icon {
	float: left;
	margin-left: 4%;
	padding-top: 1%;
}

.comment_line {
	padding-bottom: 20%;
	padding-right: 8%;
}

.form-group-comments {
	color: rgba(0, 0, 0, 1) !important;
}

.form-control-comments {
	width: 80%;
	margin-left: 14%;
	background: transparent;
    border: none;
    padding-bottom: 1%;
    color: rgba(100, 100, 100, 1) !important;
    display: block;
}

.submit_comment {
	float: left;
	padding-top: 3%;
	padding-left: 5%;
	cursor: pointer;
	display: block;
	color: color: rgba(50, 50, 50, 1);
	font-weight: 900;
}

.all-comments {
	padding-left: 5%;
}

.date {
	font-size: 10px;
}